@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Khmer", sans-serif;
}
.header {
  width: 100%;
  height: 150px;
  background-color: black;
  display: flex;
}
.logo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 14%;
  height: 50%;
  cursor: pointer;
}
.ad {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ad img {
  cursor: pointer;
}
.main-menu {
  width: 100%;
  height: 70px;
  background-color: red;
}
.menu {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu a {
  text-decoration: none;
  margin: 20px;
  color: rgba(245, 245, 245, 0.836);
  font-size: 22px;
  cursor: pointer;
}
.menu a:hover {
  /* background-color: rgba(245, 245, 245, 0.281); */
  color: white;
  /* background-color: white;
  padding: 10px;
  border-radius: 50px; */
}

/* ------------------------------------Box-body-------------------------------------- */
.body1 {
  width: 80%;
  height: 700px;
  /* background-color: aqua; */
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.box-left {
  width: 74.8%;
  height: 100%;
  /* background-color: aquamarine;  */
}
.box-left-top {
  width: 100%;
  height: 50%;
  /* background-color: rgba(1, 252, 168, 0.123);  */
  display: flex;
}
.box-left-top-left {
  position: relative;
  overflow: hidden;
  width: 58%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.158);
  display: flex;
}
/* .box-left-top-left img {
  width: 50%;
  height: 100%;
} */
.box-left-top-left img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.box-left-top-right {
  width: 42%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.158);
  display: flex;
  position: relative;
  overflow: hidden;
}
/* .box-left-top-right img {
  transform: scale(1.5); 
  width: 50%;
  height: 100%;
} */
.box-left-top-right img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.box-left-bottom {
  width: 100%;
  height: 50%;
  /* background-color: rgb(172, 127, 255); */
  display: flex;
}
.box-left-bottom-left {
  width: 58%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.158);
  position: relative;
  overflow: hidden;
}
.box-left-bottom-left img {
  /* transform: scale(1.5); */
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.box-left-bottom-right {
  width: 42%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.158);
  position: relative;
  overflow: hidden;
}
.box-left-bottom-right img {
  /* transform: scale(1.5); */
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.box-right {
  width: 24.3%;
  height: 100%;
  /* background-color: rgb(227, 255, 127); */
}
.box-right-top {
  width: 100%;
  height: 49%;
  /* background-color: rgb(127, 168, 255); */
}
.box-right-top img {
  width: 100%;
  height: 100%;
}
.box-right-bottom {
  margin-top: 14px;
  width: 100%;
  height: 49%;
  /* background-color: rgba(255, 255, 255, 0); */
}
.box-right-bottom img {
  width: 100%;
  height: 100%;
}
.clippy1 {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 30px;
  color: white;
  background-color: rgb(0, 209, 112);
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
}
.clippy2 {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 30px;
  color: white;
  background-color: rgb(0, 209, 112);
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
}
.clippy3 {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 30px;
  color: white;
  background-color: rgb(235, 64, 135);
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
}
.clippy4 {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  height: 30px;
  color: white;
  background-color: rgb(37, 105, 252);
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
}
.title {
  color: white;
  padding: 0px 0px 0px 40px;
  position: absolute;
  top: 240px;
  font-size: 20px;
}
.date {
  color: white;
  position: absolute;
  top: 300px;
  font-size: 18px;
  padding: 0px 0px 0px 40px;
}
.describe {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 350px;
  font-size: 18px;
  padding: 0px 0px 0px 40px;
}
.box-left-bottom-left:hover .title {
  top: 220px;
  color: red;
}
.box-left-bottom-left:hover .describe {
  top: 275px;
}
.box-left-bottom-left:hover {
  background: linear-gradient(360deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.box-left-bottom-right:hover .title {
  top: 200px;
  color: red;
}
.box-left-bottom-right:hover .describe {
  top: 252px;
}
.box-left-bottom-right:hover {
  background: linear-gradient(360deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.box-left-top-left:hover .title {
  top: 220px;
  color: red;
}
.box-left-top-left:hover .describe {
  top: 275px;
}
.box-left-top-left:hover {
  background: linear-gradient(360deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}
.box-left-top-right:hover .title {
  top: 200px;
  color: red;
}
.box-left-top-right:hover .describe {
  top: 252px;
}
.box-left-top-right:hover {
  background: linear-gradient(360deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}

/* -------------------------------Box-body------------------------------------------- */

.body {
  width: 80%;
  height: auto;
  /* background-color: aqua; */
  margin: 20px auto 0px;
}
.clippy-video {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 50px;
  color: white;
  font-size: 28px;
  background-color: rgb(37, 105, 252);
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
}
.clippy-Entertainment {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 50px;
  color: white;
  font-size: 28px;
  background-color: rgb(235, 64, 135);
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
}
.hr-video {
  margin: 0;
  width: 100%;
  height: 7px;
  background-color: rgb(37, 105, 252);
}
.hr-Entertainment {
  margin: 0;
  width: 100%;
  height: 7px;
  background-color: rgb(235, 64, 135);
}

/* ---------------------------------------------------Box-video--------------------------------------------------- */

.body-video {
  width: 80%;
  height: 900px;
  /* background-color: aqua;  */
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 95%;
  height: 95%;
  /* background-color: antiquewhite; */
}

/* ------------------------------------------------Box-body1---------------------------------------------- */

.box-body1 {
  width: 100%;
  height: 50%;
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
}
.box-1 {
  width: 33%;
  height: 100%;
  background-color: black;
}
.pic1 {
  width: 100%;
  height: 70%;
  background-color: rgb(0, 0, 0);
}
.pic1 img {
  width: 100%;
  height: 100%;
  /* transform: scale(0.99); */
}
.box-1:hover img {
  transform: scale(0.8888);
}
.title-video-1 {
  width: 100%;
  height: 30%;
  padding: 10px 0px 10px 0px;
  background-color: white;
  color: black;
}

/* ------------------------------------------------------------Box-body2-------------------------------------------- */

.box-body2 {
  width: 100%;
  height: 50%;
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
}
.box-2-left {
  width: 70%;
  height: 100%;
  /* background-color: burlywood; */
  display: flex;
  justify-content: space-between;
}
.box-2-right {
  width: 30%;
  height: 100%;
  /* background-color: rgb(138, 222, 135); */
}
.box-2 {
  width: 23.5%;
  height: 100%;
  /* background-color: rgb(240, 235, 235); */
}
.box-2-top {
  width: 100%;
  height: 50%;
  background-color: rgb(0, 0, 0);
}
.pic2 {
  width: 100%;
  height: 70%;
  background-color: rgb(0, 0, 0);
}
.pic2 img {
  width: 100%;
  height: 100%;
}
.box-2-top:hover img {
  transform: scale(0.8888);
}
.box-2-bottom:hover img {
  transform: scale(0.8888);
}

.title-video-top-2 {
  overflow: hidden;
  width: 100%;
  height: 30%;
  padding: 4px 0px 4px 0px;
  background-color: white;
  color: black;
  font-size: 14px;
}
.box-2-bottom {
  width: 100%;
  height: 50%;
  background-color: rgb(0, 0, 0);
}
.box-2-right {
  margin-left: 20px;
}
.box-2-right img {
  width: 100%;
  height: 20%;
}

/* <!-- ---------Box-Entertainment-------- --> */


.body3 {
  width: 80%;
  height: 400px;
  margin: 0 auto;
  /* background-color: aqua; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-body3 {
  width: 95%;
  height: 95%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-between;
}
.more-Entertainment i {
  font-size: 45px;
  color: rgb(235, 64, 135);
}
.more-Entertainment {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5%;
  height: 100%;
}
.box-body3-left {
  width: 34%;
  height: 100%;
  background-color: black;
}
.box-body3-right {
  width: 64.5%;
  height: 100%;
  /* background-color: rgb(155, 41, 41); */
}
.box-body3-right-top {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  /* background-color: blue; */
}
.box-body3-right-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(0, 255, 42); */
}
.box3 {
  width: 24.5%;
  height: 100%;
  background-color: red;
}
.pic3 {
  width: 100%;
  height: 70%;
  background-color: rgb(0, 0, 0);
}
.pic3 img {
  width: 100%;
  height: 100%;
}
.pic3-s {
  width: 100%;
  height: 70%;
  background-color: rgb(0, 0, 0);
}
.pic3-s img {
  width: 100%;
  height: 100%;
}
.box-body3-left:hover img {
  transform: scale(0.8888);
}
.box3:hover img {
  transform: scale(0.8888);
}
.title-Entertainment {
  overflow: hidden;
  width: 100%;
  height: 30%;
  padding: 20px 20px 20px 20px;
  background-color: rgb(235, 64, 135);
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.title-box-s {
  overflow: hidden;
  width: 100%;
  height: 30%;
  padding: 3px 0px 3px 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 12px;
}
/* <!------------------------------------ Box-tecnology ------------------------------------------> */
.more-tecnology i {
  font-size: 45px;
  color: rgb(37, 105, 252);
}
.clippy-tecnology {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 50px;
  color: white;
  font-size: 28px;
  background-color: rgb(37, 105, 252);
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
}
.hr-tecnology {
  margin: 0;
  width: 100%;
  height: 7px;
  background-color: rgb(37, 105, 252);
}
.title-tecnology {
  overflow: hidden;
  width: 100%;
  height: 30%;
  padding: 20px 20px 20px 20px;
  background-color: rgb(37, 105, 252);
  color: rgb(255, 255, 255);
  font-size: 20px;
}

/* <!------------------------------------ Life and society ------------------------------------------> */
.more-Life-and-society i {
  font-size: 45px;
  color: rgb(0, 209, 112);
}
.clippy-Life-and-society {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50px;
  color: white;
  font-size: 28px;
  background-color: rgb(0, 209, 112);
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
}
.hr-Life-and-society {
  margin: 0;
  width: 100%;
  height: 7px;
  background-color: rgb(0, 209, 112);
}
.title-Life-and-society {
  overflow: hidden;
  width: 100%;
  height: 30%;
  padding: 20px 20px 20px 20px;
  background-color: rgb(0, 209, 112);
  color: rgb(255, 255, 255);
  font-size: 20px;
}

/* <!------------------------------------ Sports  ------------------------------------------> */
.more-Sports i {
  font-size: 45px;
  color: rgb(255, 187, 0);
}
.clippy-Sports  {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50px;
  color: white;
  font-size: 28px;
  background-color: rgb(255, 187, 0);
  clip-path: polygon(0 0, 84% 0, 100% 100%, 0% 100%);
}
.hr-Sports  {
  margin: 0;
  width: 100%;
  height: 7px;
  background-color: rgb(255, 187, 0);
}
.title-Sports  {
  overflow: hidden;
  width: 100%;
  height: 30%;
  padding: 20px 20px 20px 20px;
  background-color: rgb(255, 187, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
}
